/* toast */
.toast {
    color: #000;
    line-height: 1.5;
    margin-bottom: 1em;
    padding: 1.25em;
    position: absolute;
    right: -365px;
    top: 1em;
    transition: 0.15s ease-in-out;
    width: 325px;
  }
  
  .toast.on {
    transform: translateX(-365px);
  }
  
  .close {
    cursor: pointer;
    float: right;
    font-size: 1.25rem;
    line-height: 1;
    margin-left: 1em;
    opacity: .8;
  }
  
  .jam {
    background-color: #99004d;
    color: #fff;
  }
  