.blog-posts {
  width: min(1200px, 100%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.post {
  width: calc(33% - 10px);
  overflow: hidden;
}

.post-img {
  width: 100%;
  border-radius: 6px;
  transition: 0.3s linear;
}

.post-content {
  background-color: #ffffffdd;
  margin: 0 20px;
  padding: 30px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: 0.3s linear;
}

.post-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.date {
  font-size: 15px;
  font-style: italic;
  color: #e77f67;
}

.post:hover .post-img {
  transform: translateY(20px);
}

.post:hover .post-content {
  transform: translateY(-80px);
}

@media screen and (max-width: 1200px) {
  .blog-posts {
    justify-content: center;
  }
  .post {
    width: min(600px, 100%);
  }
}
/**/
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}