.titlebar {
    background-color: #0053af; 
    line-height: 1rem;  
    text-underline-offset: 8px;
}
.titlebar h1 {
    color: #fff;   
}
.titlebar h1::first-letter {
    text-decoration: underline;
}